<div id="top5" class="card">
  <div id="disp-events-title" class="card-header">
    Current Results
  </div>
  <div id="event-list-links" class="list-group list-group-flush">
  </div>
</div>

<script src="/js/displayEvents.js"></script>
