<div id="top5" class="card">
  <div class="card-header">
    Results
  </div>
  <ul  id="event-list" class="list-group list-group-flush">
    {{#each events}}
    <a href="/more/{{this.id}}">
      <li 
        class="list-group-item"
        data-id="{{this.id}}">
        {{this.dataValues.title}}
      </li>
      </a>
    {{/each}}
  </ul>
</div>

<!-- this script is needed in order to have access to the events data -->
<script src="/js/index.js"></script>