
      <div id="topresults" class="card">
        <div class="card-header">
          Display Area
        </div>
        <div>
          <canvas id="myChart"></canvas>
        </div>
      </div>


{{!-- <script src="/js/charts.js"></script> --}}