<div id="moreinfo" class="card">
  <div class="card-header">
    {{#if title }}
      {{title}}
    {{else}}
      Additional Information
    {{/if}}
  </div>
  <div id="details" class="overflow">
      {{description}}
  </div>
</div>
