<div id="moreinfo" class="card">

  <div class="card-header">
    {{#if title }}
      {{title}}
    {{else}}
      Additional Information
    {{/if}}
  </div>
  
    <div id="overflow3" >

    <p class="text-justify"  style="
    margin: 26px;
    margin-top: 15px;
">

  {{description}}
            

      </p>

  </div>
 
</div>
