<div class="container">
  <div class="row">
    <div class="col-md-12 py-2">
      <h1><img id="hurricane" src="./img/hurricane.png">Unearth Disasters</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" id="form">
      {{> searchForm}}
    </div>
    <div class="col-md-9">
      {{> displayEvents }}
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-3" id="form">
        {{> displayArea }} 
    </div>
    <div class="col-md-9">
      {{> moreInfo}}
    </div>
  </div>
  <br><br>
</div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>