<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Name to be determined</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" id="form">
      <form>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="country">Country</label>
            <input type="name" class="form-control" id="country" placeholder="Country">
          </div>
          
        </div>
        <div class="form-group col-md-12">
            <label for="disastertype">Disaster Type</label>
            <select id="disastertype" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
              <option>Earthquake</option>
              <option>Tornado</option>
            </select>
          </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>
    <div class="col-md-8">
      <div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>LBacon ipsum dolor amet ham landjaeger tenderloin, fatback turducken filet mignon shoulder strip steak shankle pastrami boudin salami. Sausage sirloin cow tenderloin frankfurter hamburger buffalo fatback pork chop ham hock landjaeger capicola kielbasa. Kielbasa pastrami tenderloin flank, bresaola jerky doner. Spare ribs t-bone boudin shankle meatloaf leberkas. Porchetta buffalo short loin bacon, shank cupim andouille sausage doner rump beef ribs turducken fatback. Pork tail tri-tip bacon meatloaf chuck, shankle pork chop.


</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
    </div>
  </div>


</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>