.list-group-item {
  line-height: 2.5;
}
.container {
  text-align: center;
}
h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 60px;
  color: white;
}

body {
  background-image: url(../img/map2.jpg);
  opacity: 1.5;
}
#form {
  background-color: whitesmoke;
  opacity: .9;
  padding: 5px;
  height: 425px;
}
.card {
  opacity: .9;
}
#hurricane {
  width: 100px;
  height: 100px;
}

#top5 {
  height: 425px;
  opacity: .9;
}
#overflow {
  overflow-y: auto;
}
#overflow2 {
  overflow-y: auto;
}
#overflow3 {
  overflow-y: auto;
}
#topresults {
  height: 415px;
}
#moreinfo {
  height: 425px;
}