.list-group-item {
  line-height: 2.5;
}
.container {
  text-align: center;
}
h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 60px;
  color: white;
}

body {
  background-image: url(../img/map2.jpg);
  opacity: 1.5;
}

.card {
  opacity: .9;
}
#hurricane {
  width: 100px;
  height: 100px;
}

.upper-card {
  height: 450px;
  opacity: .9;
}

.lower-card {
  height: 450px;
  opacity: .9;
}

/* styling for text links in search results section */
.listed-event {
  background-color: rgba(217, 237, 255, 0.842);
  font-size: 1.4em;
}

#event-list {
  overflow-y: auto;
}
#overflow2 {
  overflow-y: auto;
}

.overflow {
  overflow-y: auto;
}
#topresults {
  height: 415px;
}
#more-info-desc {
text-align: left;
margin: 15px;
}